<!DOCTYPE html>
<html lang="en_GB">
<head>
    <title>{{ page.title }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen,projection,handheld">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <header>
    </header>

    <section id="main">
        {{ content }}
    </section>

    <footer>
    </footer>

    <script src="/js/scripts.js"></script>
</body>
</html>
